body{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin: 0;
    background-color: #F1F0E2;
    min-height: 100%;
}

.container{
    width: 90%;
    margin:auto;
    overflow: hidden;
}

ul{
    padding: 0;
    margin: 0;
}

header{
    background-color: #054549;
    color:#D9BB74;
    padding-top:10px;
    min-height: 50px;
    border-bottom:2px solid#D9BB74;
}

footer{
    background-color: #054549;
    text-align:center;
    color:#D9BB74;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top:1px;
    margin-top:20px;
    border-top:2px solid#D9BB74;
}


header a {
    color: #D9BB74;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

header a:hover {
    color: #F25652;
    font-weight: bold;
    font-size: 16px;
    
}

header li{
    float: left;
    display: inline;
    padding: 0 15px 0 15px; 
}

header #logo{
    float: left;
}

header #logo img{
    margin:0;
    height:50px;
    width: 100px;

}

header nav {
    float: right;
    margin-top:10px;
}

#form{
    min-height:400px;
    max-width: 500px;
    margin:auto;
    margin-top:50px;
}

#form form{
    border: 2px solid #054549;
    min-height: 250px;
    padding:15px; 
}

#form input[type=text], input[type=password], input[type=email]{
    min-width:85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #054549;
}
#form button  {
    min-width: 35%;
    display: inline;
    background-color:#D9BB74;
    color:#054549;
    font-weight: bolder;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
   
}
#form label{
    color:#054549;
    font-size: 15px;
}

.f_links {
    font-size: 13px;
}
.f_links a{
    text-decoration: none;
    color:#054549;
}
.f_links a:hover{
    text-decoration: none;
    color:#F25652;
}
#not_registered{
    margin-top:3px; 
    float: left;
}
#already_registered{
    float: right;
    margin-top: -10px;
}
#forgot_pswd{
    margin-top:30px; 
    float: right;
}