body{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin: 0;
    background-color: #F1F0E2;
}

.container{
    width: 90%;
    margin:auto;
    overflow: hidden;
}

ul{
    padding: 0;
    margin: 0;
}

header{
    background-color: #054549;
    color:#D9BB74;
    padding-top:10px;
    min-height: 50px;
    border-bottom:2px solid#D9BB74;
}

footer{
    background-color: #054549;
    text-align:center;
    color:#D9BB74;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top:10px;
    margin-top:10px;
    border-top:2px solid#D9BB74;
}
#footer{
    clear: both;
    background-color: #054549;
    text-align:center;
    color:#D9BB74;
    width: 100%;
    height: 20px;
    padding-top:10px;
    margin-top:10px;
    border-top:2px solid#D9BB74;
}


header a {
    color: #D9BB74;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
}

header a:hover {
    color: #F25652;
}

header li{
    float: left;
    display: inline;
    padding: 0 15px 0 15px; 
}

header #logo{
    float: left;
}

header #logo img{
    margin:0;
    height:50px;

}

header nav {
    float: right;
    margin-top:10px;
}

#form{
    min-height:400px;
    max-width: 500px;
    margin:auto;
    margin-top:50px;
}
#form-admin{
    min-height:400px;
    max-width: 500px;
    margin:auto;
    margin-top:50px;
}

#form form{
    border: 2px solid #054549;
    min-height: 250px;
    padding:15px; 
}
#form-admin form{
    border: 2px solid #D9BB74;
    background-color: #054549;
    min-height: 250px;
    padding:15px; 
}

#form input[type=text], input[type=password], input[type=email]{
    min-width:85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #054549;
}
#form-admin input[type=text], input[type=password], input[type=email]{
    min-width:85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #D9BB74;
}
#form button  {
    min-width: 35%;
    display: inline;
    background-color:#D9BB74;
    color:#054549;
    font-weight: bolder;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
   
}
#form-admin button  {
    min-width: 35%;
    display: inline;
    background-color:#F25652;
    color:#054549;
    font-weight: bolder;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
   
}
#form label{
    color:#054549;
    font-size: 15px;
}
#form-admin label{
    color:#D9BB74;
    font-size: 15px;
}

.f_links {
    font-size: 13px;
}
.f_links a{
    text-decoration: none;
    color:#054549;
}
.f_links a:hover{
    text-decoration: none;
    color:#F25652;
}
.af_links {
    font-size: 13px;
}
.af_links a{
    text-decoration: none;
    color:#D9BB74;
}
.af_links a:hover{
    text-decoration: none;
    color:#F25652;
}
#not_registered{
    margin-top:3px; 
    float: left;
}
#already_registered{
    float: right;
    margin-top: -10px;
}
#forgot_pswd{
    margin-top:30px; 
    float: right;
}

#showcase{
    width: 90%;
    min-height:175px;
    margin: auto;
    background:url(../img/showcase.jpg)0 -75px;
}
#head_btn{
    background-color: #D9BB74;
    max-width: 15%;
    padding: 2px;
    text-align: center;
}
#head_btn h1{
    margin:10% 0 0 0;
    padding: 0;
    font-size: 40px;
    font-weight: bolder;
    color: #054549;
    text-shadow: 2px 2px 6px #D9BB74;
    
}
#head_btn button  {
    min-width: 10%;
    display: inline;
    background-color:#054549;
    color:#D9BB74;
    font-weight: bolder;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
   
}
#meetup{
    float: left;
    width:74%;
    min-height: 350px;
}
#meetup_view a{ 
    text-decoration: none;
}
#meetup_view{
    width: 99%;
    min-height:300px;
    margin-top: 20px;
    
    
}
.cards{
    width:30%;
    border:1px solid #054549;
    margin-right:20px;
    margin-top: 15px;
    float: left;


}
.mhead{
    background-color: #054549;
    color: #D9BB74;
}
.mhead h4,p{
    margin: 0;
    padding:1px;
}
.venue_time{
    background-color: #D9BB74;
    color: #054549;
}
.venue_time h4,p{
    margin: 0;
    padding:1px;
}
.description{
    color: #054549;
}
#categories{
    width: 25%;
    float: right;
   
}
#ctgry{
    background-color: #D9BB74;
    min-height:350px;
    width: 83%;
    
}

#ctgry h4{
    background-color: #054549;
    color: #D9BB74;

}
#ctgry a{
    text-decoration: none;
    color: #054549;
    padding-left: 5px;
}
#ctgry a:hover{
    text-decoration: none;
    color: #F25652;
}
#question{
    width:40%;
    margin-left:50px;
    min-height: 550px;
    float: left;
}
.deatails{
    background-color: #D9BB74;
    color: #054549;
    min-height: 550px;
    margin-top: -10px; 
}
.deatails h4{
   background-color: #054549;
   color: #D9BB74;
   padding:12px;
}
.deatails p{
    margin-top: 10px;
    padding: 10px;
}
#post_questions{
    width:40%;
    margin:0;
    min-height: 550px;
    float: left;
}
.post_q form{
    margin: 10px;
}
.post_q textarea{
    min-width:97%;
    height: 100px;
    resize:none;
    text-align: left;
    border: 2px solid #054549;
}
.post_q button{
    min-width: 10%;
    display: inline;
    background-color:#054549;
    color:#D9BB74;
    font-weight: bolder;
    padding: 10px 15px;
    margin: 8px 8px 8px 0;
    border: none;
    cursor: pointer;
    float: right;
}
.posted{
    clear: both;
    margin-left: 50px;
    background-color: #D9BB74;
    color: #054549;
    border-left: 3px solid #054549;
    width: 80%;
    font-size: 15px;
    padding: 3px;
    margin-top: 20px;
    overflow: hidden;
}
.posted p{
    float: left;
}
.posted form{
    float: right;
    padding: 3px;
}
.posted input[type=button]{
    min-width: 10%;
    display: inline;
    background-color:#054549;
    color:#D9BB74;
    font-weight: bolder;
    padding: 4px 4px;
    margin: 2px 4px 0 0;
    border: none;
    cursor: pointer;
}
.posted input[type=image]{
   height: 25px;
   margin-bottom: -10px;
}
.posted input[type=image]:focus,input[type=image]:visited{
   background-color: #054549;
}
#comment-box textarea{
    clear: both;
    margin-top: 10px;
    width:98%;
    height:50px;
    border:1px solid #054549;
    resize: none;
}
#comment-box input[type=button]{
    min-width: 10%;
    display: inline;
    background-color:#054549;
    color:#D9BB74;
    font-weight: bolder;
    padding: 4px 4px;
    margin: 2px 7px 3px 0;
    border: none;
    cursor: pointer;
    float: right;
}

#comment-box2 textarea{
    clear: both;
    margin-top: 10px;
    width:98%;
    height:50px;
    border:1px solid #054549;
    resize: none;
}
#comment-box2 input[type=button]{
    min-width: 10%;
    display: inline;
    background-color:#054549;
    color:#D9BB74;
    font-weight: bolder;
    padding: 3px 4px;
    margin: 4px 4px 0 0;
    border: none;
    cursor: pointer;
    float: right;
}
#comments p{
    border-left: 2px solid #054549;
    background-color: #F1F0E2;
    padding: 4px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 90%;
}
.up{
    background: url(../img/up.png) no-repeat;
    height: 20px;
}

